In [1]:
from util import get_data
import pandas as pd
import datetime as dt
import numpy as np
from marketsimcode import compute_portvals
import matplotlib.pyplot as plt
import indicators

In [3]:
start_date = dt.datetime(2008,1,1)
end_date = dt.datetime(2009,12,31)
prices = get_data(['JPM'], pd.date_range(start_date, end_date), addSPY=True, colname = 'Adj Close')
sma = indicators.sma(prices, 10)

In [4]:
mean_20

                   SPY        JPM
2008-01-02  132.150000  38.470000
2008-01-03  132.120000  38.335000
2008-01-04  131.030000  38.000000
2008-01-07  130.457500  37.927500
2008-01-08  129.698000  37.584000
2008-01-09  129.413333  37.440000
2008-01-10  129.330000  37.477143
2008-01-11  129.137500  37.451250
2008-01-14  129.102222  37.482222
2008-01-15  128.791000  37.307000
2008-01-16  128.437273  37.350909
2008-01-17  127.873333  37.281667
2008-01-18  127.300000  37.191538
2008-01-22  126.720714  37.197143
2008-01-23  126.410000  37.497333
2008-01-24  126.202500  37.716875
2008-01-25  125.914706  37.840000
2008-01-28  125.770556  38.047222
2008-01-29  125.673684  38.322632
2008-01-30  125.540500  38.566000
2008-01-31  125.196000  38.804500
2008-02-01  124.955000  39.095000
2008-02-04  124.796000  39.336500
2008-02-05  124.474000  39.452500
2008-02-06  124.207000  39.636000
2008-02-07  123.913500  39.857500
2008-02-08  123.539000  39.971000
2008-02-11  123.247500  40.084500
2008-02-12  122.961000  40.173500
2008-02-13  122.879000  40.398500
...                ...        ...
2009-11-18  102.392500  41.487000
2009-11-19  102.416000  41.336500
2009-11-20  102.480000  41.204500
2009-11-23  102.666000  41.178500
2009-11-24  102.883000  41.111000
2009-11-25  103.214000  41.086500
2009-11-27  103.352500  40.943000
2009-11-30  103.655500  40.977000
2009-12-01  103.987500  40.959500
2009-12-02  104.301000  40.923000
2009-12-03  104.560500  40.884500
2009-12-04  104.758000  40.783000
2009-12-07  104.934500  40.677000
2009-12-08  104.936500  40.527500
2009-12-09  104.957000  40.385500
2009-12-10  104.980500  40.240000
2009-12-11  105.079500  40.128500
2009-12-14  105.186500  40.075000
2009-12-15  105.193000  39.971000
2009-12-16  105.201500  39.885500
2009-12-17  105.149500  39.737500
2009-12-18  105.196000  39.661000
2009-12-21  105.314500  39.634500
2009-12-22  105.386500  39.571000
2009-12-23  105.461000  39.527500
2009-12-24  105.542000  39.514500
2009-12-28  105.720500  39.533000
2009-12-29  105.874000  39.485500
2009-12-30  105.960500  39.453000
2009-12-31  105.998000  39.440500

[505 rows x 2 columns]

In [6]:
mean_20.shift(1, 'D')

                   SPY        JPM
2008-01-03  132.150000  38.470000
2008-01-04  132.120000  38.335000
2008-01-05  131.030000  38.000000
2008-01-08  130.457500  37.927500
2008-01-09  129.698000  37.584000
2008-01-10  129.413333  37.440000
2008-01-11  129.330000  37.477143
2008-01-12  129.137500  37.451250
2008-01-15  129.102222  37.482222
2008-01-16  128.791000  37.307000
2008-01-17  128.437273  37.350909
2008-01-18  127.873333  37.281667
2008-01-19  127.300000  37.191538
2008-01-23  126.720714  37.197143
2008-01-24  126.410000  37.497333
2008-01-25  126.202500  37.716875
2008-01-26  125.914706  37.840000
2008-01-29  125.770556  38.047222
2008-01-30  125.673684  38.322632
2008-01-31  125.540500  38.566000
2008-02-01  125.196000  38.804500
2008-02-02  124.955000  39.095000
2008-02-05  124.796000  39.336500
2008-02-06  124.474000  39.452500
2008-02-07  124.207000  39.636000
2008-02-08  123.913500  39.857500
2008-02-09  123.539000  39.971000
2008-02-12  123.247500  40.084500
2008-02-13  122.961000  40.173500
2008-02-14  122.879000  40.398500
...                ...        ...
2009-11-19  102.392500  41.487000
2009-11-20  102.416000  41.336500
2009-11-21  102.480000  41.204500
2009-11-24  102.666000  41.178500
2009-11-25  102.883000  41.111000
2009-11-26  103.214000  41.086500
2009-11-28  103.352500  40.943000
2009-12-01  103.655500  40.977000
2009-12-02  103.987500  40.959500
2009-12-03  104.301000  40.923000
2009-12-04  104.560500  40.884500
2009-12-05  104.758000  40.783000
2009-12-08  104.934500  40.677000
2009-12-09  104.936500  40.527500
2009-12-10  104.957000  40.385500
2009-12-11  104.980500  40.240000
2009-12-12  105.079500  40.128500
2009-12-15  105.186500  40.075000
2009-12-16  105.193000  39.971000
2009-12-17  105.201500  39.885500
2009-12-18  105.149500  39.737500
2009-12-19  105.196000  39.661000
2009-12-22  105.314500  39.634500
2009-12-23  105.386500  39.571000
2009-12-24  105.461000  39.527500
2009-12-25  105.542000  39.514500
2009-12-29  105.720500  39.533000
2009-12-30  105.874000  39.485500
2009-12-31  105.960500  39.453000
2010-01-01  105.998000  39.440500

[505 rows x 2 columns]

In [ ]:
orders

In [ ]:
for date, row in orders.iloc[1:, :].iterrows():
    prices = prices[19:]
    stock = row['Symbol']
    today = orders.index.get_loc(date)
    next_day = orders.index.get_loc(date) + 1
    last_day = orders.index.get_loc(date) - 1
    if prices.iloc[last_day, 1] <= mean_20.iloc[last_day, 1] and prices.iloc[today, 1] >= mean_20.iloc[today, 1] and orders.iloc[last_day,0] != 1000:
        orders.loc[date, 'Shares'] = 1000 - orders.iloc[last_day, 0]
        orders.loc[date, 'Position'] = 1000
        orders.loc[date, 'Order'] = 'BUY'
    elif prices.iloc[last_day, 1] >= mean_20.iloc[last_day, 1] and prices.iloc[today, 1] <= mean_20.iloc[today, 0] and orders.iloc[last_day,0] != -1000:
        orders.loc[date, 'Shares'] = 1000 + orders.iloc[last_day, 0]
        orders.loc[date, 'Position'] = -1000
        orders.loc[date, 'Order'] = 'SELL'
    else:
        orders.loc[date, 'Shares'] = 0
        orders.loc[date, 'Position'] = orders.iloc[last_day, 0]
        orders.loc[date, 'Order'] = 'HOLD'
orders= orders[1:]

In [ ]:
orders

In [ ]:
a = pd.concat([bb_up,bb_low], axis=1)
a.columns = ["Bollinger Band High", "Bollinger Band low"]

In [ ]:
prices = get_data(['JPM'], pd.date_range(start_date, end_date))
prices.fillna(method='ffill', inplace=True)
prices.fillna(method='bfill', inplace=True)
prices['Cash'] = 1.0
positions = pd.DataFrame().reindex_like(prices)
positions.fillna(0, inplace=True)
positions.iloc[0, -1] = 100000

In [ ]:
positions

In [ ]:
for date, row in orders.iloc[:-1,:].iterrows():
    if date not in positions.index:
        continue
    symbol = row['Symbol']
    shares = row['Shares']
    action = row['Order']
    price = prices.loc[date, symbol]
    if action == 'SELL':
        shares = shares * -1
    positions.loc[date, symbol] += shares
    cash_decrease = shares * price
    if cash_decrease > 0:
        cash_decrease *= (1 + 0)
    elif action == 'BUY':
        cash_decrease *= (1 - 0)
    cash_decrease += 0
    positions.loc[date, 'Cash'] -= cash_decrease
positions = positions.cumsum(axis=0)
portval = (positions * prices).sum(axis=1)
portval = portval.to_frame('PortVal')

In [ ]:
positions

In [ ]:
portval